body {
    background-color: rgb(235, 218, 195);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

div.container div.row {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}