body {
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    margin-bottom: 300px;
    background-image: url(../img/background.jpg);
    background-repeat: repeat-y;
}

.container a #tambahh4 {
    margin-bottom: 10px;
}

.container table thead {
    text-align: center;
}

.container table tr.data {
    line-height: 50px;
}

.container table tr td.aksi,
.no {
    text-align: center;
}